<html>
<head>
    <title>Категории</title>
</head>
<body>
<h1>Категории</h1>
<div>
    <a href="/my_blog/category/3/">
        <button>Животные</button>
        <p class="card-text">Описание: {{object.description}}</p>
    </a>
</div>
<div>
    <a href="/my_blog/category/2/">
        <button>Экстрим</button>
        <p class="card-text">Описание: {{object.description}}</p>
    </a>
        </div>
<div>
    <a href="/my_blog/category/1/">
        <button>Кулинария</button>
        <p class="card-text">Описание: {{object.description}}</p>
    </a>
</div>
</body>
</html>
