{% extends 'my_blog/base.html' %}
{% load my_tags %}
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Список категорий:{{ object.category_name }}</p>
                        <div class="card-body">
                            {% for category in categories %}
                            <div class="d-grid mt-3">
                                <img src="{{ category.blog.image | media_filter }}">
                                <p class="card-text">{{object.blog_name}}</p>
                                <p class="card-text">Описание: {{object.description}}</p>
                                <p class="card-text">Категория: {{object.category_name}}</p>
                                <p class="card-text">Дата публикации: {{object.created_at}}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
