{% extends 'my_blog/base.html' %}
{% load my_tags %}
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for blog in categories %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Список категорий:{{ blog.category.category_name }}</p>
                        <div class="card-body">
                            <div class="d-grid mt-3">
                                <img src="{{ blog.image | media_filter }}" style="width: 300px">
                                <p class="card-text">{{blog.blog_name}}</p>
                                <p class="card-text">Описание: {{blog.description}}</p>
                                <p class="card-text">Категория: {{blog.category_name}}</p>
                                <p class="card-text">Дата публикации: {{blog.created_at}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
